html,
body {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", Arial, sans-serif;
  font-size: 14pt;
  background: #10151b;
  color: #f0f7e5;
}

.bg {
  position: fixed;
  display: block;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
}

.bg.bg-image {
  background: url(i/bg.jpg) center;
  background-size: cover;
  opacity: 0.3;
  z-index: 0;
}

div {
  position: relative;
}
.center-plate {
  max-width: 600px;
  margin: 10vh auto;
  margin-bottom: 0;
  padding: 10vh 0;
  display: block;
  text-align: center;
  z-index: 2;
}

.center-plate > * {
  margin-bottom: 2vh;
}

.center-plate .logo-text {
  margin-bottom: 10px;
}
.center-plate .desc {
  padding: 0 3em;
}
.center-plate .phone-preview {
  background: url(i/phone_placeholder.png) center no-repeat;
  background-size: contain;
  max-width: 392px;
  height: 772px;
  display: inline-flex;
  flex-direction: column;
  color: #10151b;
  justify-content: space-around;
  padding: 80px;
  margin-top: 20vh;
  box-sizing: border-box;
}
.center-plate .phone-preview * {
  pointer-events: none;
}

.center-plate .phone-preview .logo-preview {
  margin-top: 30px;
}
.center-plate .phone-preview .logo-preview img {
  max-width: 100%;
}
.center-plate .phone-preview .logo-preview .desc {
  padding: 1em 1em;
  opacity: 0.6;
}
.center-plate .phone-preview .buttons {
  justify-self: flex-end;
}
.center-plate .phone-preview .buttons .button {
  background: #01d4b4;
  color: #fff;
  font-weight: bold;
  height: 40px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 10px;
}
.center-plate .phone-preview .buttons .button.secondary {
  background: #258880;
}
.footer {
  z-index: 1;
  display: flex;
  justify-content: space-between;
  padding: 1vh 2vw;
  background: rgba(0, 0, 0, 0.2);
}
.footer > div {
  display: flex;
  align-items: center;
}
.footer-left a,
.footer-left a:link,
.footer-left a:hover {
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 10pt;
  color: #f0f7e5;
  margin-right: 2em;
}

.footer-left a img {
  height: 30px;
}
.footer-email .signup-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-social {
}

.footer-social .social-icon img {
  width: 2em;
  width: 2em;
  margin: 0.5em;
}

.footer-email .signup-wrapper p {
  text-align: center;
  margin-right: 10px;
}
.footer-email .signup-wrapper a {
  background: #258880;
  color: #f0f7e5;
  font-weight: bold;
  text-decoration: none;
  border-radius: 20px;
  height: 40px;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  border: none;
  padding: 0 1em;
  cursor: pointer;
}

.hoverFeedback {
  display: inline-block;
  transition: transform 0.3s, opacity 0.3s;
  opacity: 0.9;
}
.hoverFeedback:hover {
  transform: scale(1.1);
  opacity: 1;
}
@media only screen and (max-width: 1024px) {
  .footer > div {
    display: flex;
    margin-top: 1em;
    align-items: center;
  }
  .footer {
    flex-direction: column;
    align-items: center;
  }
  .footer-email {
    order: -3;
  }
  .footer-social {
    order: -2;
  }
  .footer-right {
    order: -1;
  }
}

#termly-wrapper {
  background: #f0f7e5;
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  z-index: 9999;
  opacity: 0;
  pointer-events: none;
  transform: scale(0.8);
  transition: all 0.2s;
}

#termly-wrapper.visible {
  opacity: 1;
  transform: scale(1);
  pointer-events: all;
}
#termly-wrapper iframe {
  width: 100%;
  height: 100%;
}

#termly-closeBtn {
  color: #000;
  display: flex;
  padding: 0.3em;
  font-size: 2em;
  font-weight: lighter;
  position: fixed;
  background: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  height: 1em;
  width: 1em;
  justify-content: center;
  align-items: center;
  transform: rotate(45deg);
  opacity: 0.8;
  right: 0;
  top: 0;
  margin: 0.3em;
  cursor: pointer;
  z-index: 10000;
  transition: opacity 0.2s, transform 0.2s;
}

#termly-closeBtn:hover {
  opacity: 1;
}
#termly-closeBtn.hidden {
  opacity: 0;
  transform: scale(0.1);
  pointer-events: none;
}

@media only screen and (max-width: 384px) {
  .footer-left {
    flex-direction: column;
  }
  .footer-left a,
  .footer-left a:link,
  .footer-left a:hover {
    margin-right: 0;
    padding: 1em;
  }
  .footer-email .signup-wrapper {
    flex-direction: column;
    margin-bottom: 3em;
  }
}

@supports (-webkit-overflow-scrolling: touch) {
  #termly-wrapper {
    -webkit-overflow-scrolling: touch;
    overflow-y: scroll;
  }
}
